

.card {
    display: flex;
    width: 100%;
    height:350px;
    box-shadow:1px 1px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-image: linear-gradient(to top, rgb(248, 248, 248) 0%, #ffffff 100%);
    margin:10px;
    cursor:grab;
    color:var(--secondary-color-600);
    
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-header{
        font-size: 1.5rem;
        align-self: flex-start;
        text-align: center;
        font-weight: 700;
        margin-bottom: 2rem;
}
  
  .left-section {
    padding: 1.5rem 0 1.5rem 1.5rem;
    width: 30%;
  }
  
  .right-section {
    padding: 1.5rem;
    min-height:300px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .skills-container {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .skill-section {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: inline-block;
    background-color: var(--primary-bluegreen-color);
    color: var(--secondary-color-600);
    margin-right: 10px; 
    margin-top: 10px;
    font-size: 12px;
    padding: 4px 10px 4px 10px; 
  }

  .header-section {
    display: flex;
    justify-content: space-between;

  }
  .svg-icon {
    height: 28px; 
    width: 28px;
    &:hover {
      transform: scale(1.1);
    }
  }

  @media screen and (max-width: 770px) {
    .card{
      height: 550px;
      flex-direction: column;
      .left-section, .right-section{
        width: 100%;
        padding:1rem;
      }
      .right-section{
        width: 100%;
        height:fit-content;
        padding:0 1rem 1.5rem 1rem;
      }
      img{
        height:230px;
      }
    }
    
  }
  
