/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}



:root{
    
    --secondary-color-600: #252F40;

    --gray-color-black: #000000;
    --gray-color-500: #595959;

    --primary-bluegreen-color: #a2d8cb;
    --primary-orange-color:#ec7f4c;
    --primary-yellow-color:rgb(228, 217, 70);

    --secondary-orange-color:#fcede5;
    --secondary-yellow-color:var(--gray-color-500);
    --secondary-bluegreen-color:#e7f9fc;
}