/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}



:root{
    
    --secondary-color-600: #1f2b41;

    --gray-color-black: #000000;
    --gray-color-500: #595959;

    --primary-bluegreen-color: #a2d8cb;
    --primary-orange-color:#ec7f4c;
    --primary-yellow-color:rgb(228, 217, 70);

    --secondary-orange-color:#fcede5;
    --secondary-yellow-color:#ffffff;;

    --third-bluegreen-color:#fca583;
    --third-orange-color:#f09928;

}