.home-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-hero {
    width: 100%;

    max-width: 1420px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    justify-content: center;
  }
  .home-container01 {
    width: 100%;
    height: 878px;
    display: flex;
    position: relative;
    max-width: 1420px;
    min-height: 85vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .home-card {
    margin-left: 00px;
    max-width: 810px;
    height: 414px;
    display: flex;
    padding: 3rem;
    z-index: 1;
    box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
    align-items: flex-start;
    border-radius: 1rem;
    flex-direction: column;
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsla(0,0%,100%,.8);
  }
  .home-text {
    height: 100%;
    font-size: 2.25rem;
    align-self: flex-start;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: none;
    text-decoration: none;
    color:aqua;
    background-image: linear-gradient(to right, rgb(221, 107, 55) 0%, rgb(228, 156, 21) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .home-text01 {
    color: var(--secondary-color-600);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.625;
    margin-right: 3rem;
    margin-bottom: 1rem;
    padding-right: 3rem;
    text-transform: none;
    text-decoration: none;
  }


  .home-container02 {
    display: flex;
    margin-top: 1.5rem;
    align-items: flex-start;
    margin-bottom: 1rem;
    flex-direction: row;
  }
  .home-container03 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-container04 {
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--dl-space-space-halfunit);
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .home-social-bar {
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    justify-content: center;
    gap: 30px;
  }
  .home-icon {
    width: 23px;
    height: 23px;
    
  }
  .home-icon02 {
    width: 23px;
    height: 23px;
  }
  .home-image {
    top: 0px;
    left: auto;
    right: 0px;
    width: 50%;
    bottom: 0px;
    height: 95vh;
    position: absolute;
    object-fit: cover;
    object-position: right;
    border-bottom-left-radius: 10rem;
    
  }

  .about-svg{
    height:40vh;
    width: 40vw; 
    position:absolute;
    top:500px;

  }

  .home-about{
    height: 80vh;
    width: 60%;

    padding:2rem;
    display:flex;
    margin:auto;
    margin-top:4rem;
    flex-direction: column;
  }

  .about-text{

  }
  .about-text {
    color: var(--secondary-color-600);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.625;
    margin-bottom: 1rem;
    text-decoration: none;
  }

  .about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .about-item {
    width: calc(50% - 20px);
    margin-bottom: 40px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
  }
  
  .about-item:nth-child(odd) {
    float: right;
  }
  
  .about-item:nth-child(even) {
    float: left;
  }
  
  .about-item h1 {
    color: #333;
  }
  
  .about-item p {
    color: #666;
  }


